@use '../../styles/variables' as vars;

.planet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
    gap: 90px;
  }

  &__info {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: vars.$heading-1;
    margin-bottom: 23px;
  }

  &__description {
    line-height: 1.5;
    width: 100%;
    height: 150px;
    margin-bottom: 24px;
    color: vars.$neutral-400;
  }

  &__source {
    font-family: vars.$font-body;
    font-size: vars.$body;
    color: vars.$neutral-400;
    display: flex;
    gap: 5px;
  }

  &__link {
    display: flex;
    gap: 5px;
    color: #ffffff80;
  }

  &__image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 100%;
    max-width: none;
    min-width: 0;
    flex: 1;
  }

  &__img {
    width: auto;
    height: auto;
    object-fit: contain;

    &--mercury {
      width: 290px;
    }

    &--venus {
      width: 400px;
    }

    &--earth {
      width: 450px;
    }

    &--mars {
      width: 336px;
    }

    &--jupiter {
      width: 582px;
    }

    &--saturn {
      max-width: 666px;
    }

    &--uranus {
      width: 280px;
    }

    &--neptune {
      width: 280px;
    }

    &--geology {
      position: absolute;
      top: 60%;
      width: 163px;
    }
  }

  &__stats {
    display: flex;
    gap: 30px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1400px) {
  .planet {
    &__container {
      padding: 45px 0px 35px;
      flex-direction: column;
      gap: 40px;
    }

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 800px;
      align-items: flex-end;
    }

    &__description {
      width: 339px;
      text-align: left;
      margin-bottom: 0;
    }

    &__image-container {
      margin-bottom: 20px;
      height: 350px;
      flex: none;
    }

    &__img {
      &--mercury {
        width: 184px;
      }
      &--venus {
        width: 253px;
      }
      &--earth {
        width: 285px;
      }
      &--mars {
        width: 213px;
      }
      &--jupiter {
        width: 369px;
      }
      &--saturn {
        width: 422px;
      }
      &--uranus {
        width: 290px;
      }
      &--neptune {
        width: 285px;
      }
      &--geology {
        width: 120px;
      }
    }

    &__stats {
      justify-content: center;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1140px) {
  .planet {
    &__info {
      max-width: none;
    }

    &__stats {
      max-width: none;
      margin: 0;
    }
  }
}

@media (max-width: 825px) {
  .planet {
    &__container {
      gap: 95px;
    }

    &__title {
      font-size: 48px;
    }

    &__description {
      font-size: 11px;
      height: 110px;
      width: 300px;
    }

    &__source {
      font-size: 12px;
    }
  }
}

@media (max-width: 767px) {
  .planet {
    &__container {
      gap: 24px;
    }
    &__menu {
      display: none;
    }

    &__info {
      justify-content: center;
      text-align: center;
    }

    &__description {
      text-align: center;
    }

    &__source {
      justify-content: center;
    }

    &__image-container {
      height: 250px;
    }

    &__img {
      &--mercury {
        width: 111px;
      }
      &--venus {
        width: 154px;
      }
      &--earth {
        width: 173px;
      }
      &--mars {
        width: 129px;
      }
      &--jupiter {
        width: 224px;
      }
      &--saturn {
        width: 256px;
        max-width: 256px;
      }
      &--uranus {
        width: 176px;
      }
      &--neptune {
        width: 173px;
      }
      &--geology {
        width: 80px;
      }
    }

    &__stats {
      flex-direction: column;
      gap: 8px;
      width: 100%;
    }
  }
}

@media (max-width: 550px) {
  .planet {
    &__container {
      padding: 40px 0px;
    }

    &__img {
      &--geology {
        top: 55%;
      }
    }
  }
}
