@use '../../styles/mixins' as vars;

.planet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
    gap: vars.$gap-xl;

    @include vars.x-large {
      padding: 45px 0px 35px;
      flex-direction: column;
      gap: vars.$gap-lg;
    }

    @include vars.medium {
      gap: vars.$gap-xl;
    }

    @include vars.tablet {
      gap: 24px;
    }

    @include vars.mobile {
      padding: 40px 0px;
    }
  }

  &__info {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;

    @include vars.x-large {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 800px;
      align-items: flex-end;
    }

    @include vars.large {
      max-width: none;
    }

    @include vars.tablet {
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    font-size: vars.$heading-1;
    margin-bottom: 23px;

    @include vars.medium {
      font-size: 48px;
    }
  }

  &__description {
    line-height: 1.5;
    width: 100%;
    height: 150px;
    margin-bottom: 24px;
    color: vars.$neutral-400;

    @include vars.x-large {
      width: 339px;
      text-align: left;
      margin-bottom: 0;
    }

    @include vars.medium {
      font-size: vars.$heading-4;
      height: 110px;
      width: 300px;
    }

    @include vars.tablet {
      text-align: center;
    }
  }

  &__source {
    font-family: vars.$font-body;
    font-size: vars.$body;
    color: vars.$neutral-400;
    display: flex;
    gap: vars.$gap-xs;

    @include vars.medium {
      font-size: vars.$heading-3;
    }

    @include vars.tablet {
      justify-content: center;
    }
  }

  &__link {
    display: flex;
    gap: vars.$gap-xs;
    color: vars.$white-50;
  }

  &__image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 100%;
    max-width: none;
    min-width: 0;
    flex: 1;

    @include vars.x-large {
      margin-bottom: 20px;
      height: 350px;
      flex: none;
    }

    @include vars.tablet {
      height: 250px;
    }
  }

  &__img {
    width: auto;
    height: auto;
    object-fit: contain;

    &--mercury {
      width: 290px;

      @include vars.x-large {
        width: 184px;
      }

      @include vars.tablet {
        width: 111px;
      }
    }

    &--venus {
      width: 400px;

      @include vars.x-large {
        width: 253px;
      }

      @include vars.tablet {
        width: 154px;
      }
    }

    &--earth {
      width: 450px;

      @include vars.x-large {
        width: 285px;
      }

      @include vars.tablet {
        width: 173px;
      }
    }

    &--mars {
      width: 336px;

      @include vars.x-large {
        width: 213px;
      }

      @include vars.tablet {
        width: 129px;
      }
    }

    &--jupiter {
      width: 582px;

      @include vars.x-large {
        width: 369px;
      }

      @include vars.tablet {
        width: 224px;
      }
    }

    &--saturn {
      max-width: 666px;

      @include vars.x-large {
        width: 422px;
      }

      @include vars.tablet {
        width: 256px;
        max-width: 256px;
      }
    }

    &--uranus {
      width: 280px;

      @include vars.x-large {
        width: 290px;
      }

      @include vars.tablet {
        width: 176px;
      }
    }

    &--neptune {
      width: 280px;

      @include vars.x-large {
        width: 285px;
      }

      @include vars.tablet {
        width: 173px;
      }
    }

    &--geology {
      position: absolute;
      top: 60%;
      width: 163px;
      @include vars.x-large {
        width: 120px;
      }
      @include vars.tablet {
        width: 80px;
      }
      @include vars.mobile {
        top: 55%;
      }
    }
  }

  &__stats {
    display: flex;
    gap: vars.$gap-ml;
    padding-bottom: 10px;

    @include vars.x-large {
      justify-content: center;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }

    @include vars.large {
      max-width: none;
      margin: 0;
    }

    @include vars.tablet {
      flex-direction: column;
      gap: vars.$gap-sm;
      width: 100%;
    }
  }

  &__menu {
    @include vars.tablet {
      display: none;
    }
  }
}
