@use '../../styles/tokens' as vars;
@use '../../styles/mixins' as mix;

.planet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    @include mix.flex-center($justify: space-between);
    padding: 80px 0px;
    gap: vars.$gap-xl;

    @include mix.x-large {
      @include mix.flex-center(column);
      padding: 45px 0px 35px;
      gap: vars.$gap-lg;
    }

    @include mix.medium {
      gap: vars.$gap-xl;
    }

    @include mix.tablet {
      gap: 24px;
    }

    @include mix.mobile {
      padding: 40px 0px;
    }
  }

  &__info {
    @include mix.reveal-soft(0.3s);
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;

    @include mix.x-large {
      @include mix.flex-center(row, space-between, flex-end);
      max-width: 800px;
    }

    @include mix.large {
      max-width: none;
    }

    @include mix.tablet {
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    font-size: vars.$heading-1;
    margin-bottom: 23px;

    @include mix.medium {
      font-size: 48px;
    }
  }

  &__description {
    line-height: 1.5;
    width: 100%;
    height: 150px;
    margin-bottom: 24px;
    color: vars.$neutral-400;

    @include mix.x-large {
      width: 339px;
      text-align: left;
      margin-bottom: 0;
    }

    @include mix.medium {
      font-size: vars.$heading-4;
      height: 110px;
      width: 300px;
    }

    @include mix.tablet {
      text-align: center;
    }
  }

  &__source {
    font-family: vars.$font-body;
    font-size: vars.$body;
    color: vars.$neutral-400;
    display: flex;
    gap: vars.$gap-xs;

    @include mix.medium {
      font-size: vars.$heading-3;
    }

    @include mix.tablet {
      justify-content: center;
    }
  }

  &__link {
    display: flex;
    gap: vars.$gap-xs;
    color: vars.$white-50;
  }

  &__image-container {
    @include mix.flex-center;
    @include mix.reveal-soft(0s);
    position: relative;
    height: 550px;
    width: 100%;
    max-width: none;
    min-width: 0;
    flex: 1;

    @include mix.x-large {
      margin-bottom: 20px;
      height: 350px;
      flex: none;
    }

    @include mix.tablet {
      height: 250px;
    }
  }

  &__img {
    width: auto;
    height: auto;
    object-fit: contain;

    &--mercury {
      width: 290px;

      @include mix.x-large {
        width: 184px;
      }

      @include mix.tablet {
        width: 111px;
      }
    }

    &--venus {
      width: 400px;

      @include mix.x-large {
        width: 253px;
      }

      @include mix.tablet {
        width: 154px;
      }
    }

    &--earth {
      width: 450px;

      @include mix.x-large {
        width: 285px;
      }

      @include mix.tablet {
        width: 173px;
      }
    }

    &--mars {
      width: 336px;

      @include mix.x-large {
        width: 213px;
      }

      @include mix.tablet {
        width: 129px;
      }
    }

    &--jupiter {
      width: 582px;

      @include mix.x-large {
        width: 369px;
      }

      @include mix.tablet {
        width: 224px;
      }
    }

    &--saturn {
      max-width: 666px;

      @include mix.x-large {
        width: 422px;
      }

      @include mix.tablet {
        width: 256px;
        max-width: 256px;
      }
    }

    &--uranus {
      width: 280px;

      @include mix.x-large {
        width: 290px;
      }

      @include mix.tablet {
        width: 176px;
      }
    }

    &--neptune {
      width: 280px;

      @include mix.x-large {
        width: 285px;
      }

      @include mix.tablet {
        width: 173px;
      }
    }

    &--geology {
      position: absolute;
      top: 60%;
      width: 163px;
      @include mix.x-large {
        width: 120px;
      }
      @include mix.tablet {
        width: 80px;
      }
      @include mix.mobile {
        top: 55%;
      }
    }
  }

  &__stats {
    @include mix.reveal-soft(0.5s);
    display: flex;
    gap: vars.$gap-ml;
    padding-bottom: 10px;

    @include mix.x-large {
      justify-content: center;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }

    @include mix.large {
      max-width: none;
      margin: 0;
    }

    @include mix.tablet {
      flex-direction: column;
      gap: vars.$gap-sm;
      width: 100%;
      padding: 0px 25px;
    }
  }

  &__menu {
    @include mix.tablet {
      display: none;
    }
  }
}
