@use '../../styles/variables' as vars;

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: vars.$dark-blue;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    flex: 1;
    z-index: 2;
    padding: 0px 165px;
  }
}

@media (max-width: 1140px) {
  .main-layout {
    &__content {
      padding: 0px 140px;
    }
  }
}

@media (max-width: 970px) {
  .main-layout {
    &__content {
      padding: 0px 80px;
    }
  }
}

@media (max-width: 825px) {
  .main-layout {
    &__content {
      padding: 0px 60px;
    }
  }
}

@media (max-width: 767px) {
  .main-layout {
    &__content {
      padding: 0px;
    }
  }
}
