@use '../../styles/tokens' as vars;
@use '../../styles/mixins' as mix;

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: vars.$dark-blue;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    flex: 1;
    z-index: 2;
    padding: 0px 165px;

    @include mix.large {
      padding: 0px 140px;
    }

    @include mix.medium-high {
      padding: 0px 80px;
    }

    @include mix.medium {
      padding: 0px 60px;
    }

    @include mix.tablet {
      padding: 0px;
    }
  }
}
