@use '../../styles/variables' as vars;

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: vars.$dark-blue;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    flex: 1;
    padding: 0px 165px;
  }
}
