$white: #ffffff;
$white-50: rgba(255, 255, 255, 0.5);
$dark-blue: #070724;

$neutral-400: #838391;
$neutral-700: #38384f;

$mercury: #419ebb;
$venus: #eda249;
$earth: #6d2ed5;
$mars: #d14c32;
$jupiter: #d83a34;
$saturn: #cd5120;
$uranus: #1ec1a2;
$neptune: #2d68f0;

$font-heading: 'Antonio', sans-serif;
$font-body: 'League Spartan', sans-serif;

$antonio-regular: 400;
$antonio-bold: 700;

$spartan-regular: 400;
$spartan-medium: 500;
$spartan-bold: 700;

$logo: 28px;

$heading-1: 80px;
$heading-2: 40px;
$heading-3: 12px;
$heading-4: 11px;

$body: 14px;

$bp-xlarge: 1400px;
$bp-large: 1140px;
$bp-medium-high: 970px;
$bp-medium: 825px;
$bp-tablet: 767px;
$bp-mobile: 550px;

$gap-xs: 4px;
$gap-sm: 8px;
$gap-ms: 12px;
$gap-md: 24px;
$gap-ml: 30px;
$gap-lg: 40px;
$gap-xl: 90px;
