@use '../../styles/variables' as vars;

.planets-nav {
  font-family: vars.$font-body;
  font-size: vars.$heading-3;
  color: vars.$neutral-400;
  font-weight: vars.$spartan-bold;

  &__toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__list {
    display: flex;
    gap: 33px;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;

    $planet-colors: (
      'mercury': vars.$mercury,
      'venus': vars.$venus,
      'earth': vars.$earth,
      'mars': vars.$mars,
      'jupiter': vars.$jupiter,
      'saturn': vars.$saturn,
      'uranus': vars.$uranus,
      'neptune': vars.$neptune,
    );

    @each $name, $color in $planet-colors {
      &[style*='--planet-color-name: #{$name}'] {
        .planets-nav__bullet {
          background-color: $color;
        }

        &:hover {
          &::before {
            content: '';
            position: absolute;
            top: -33px;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $color;
          }
          .planets-nav__link {
            color: vars.$white;
          }
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 25px;
    transition: color 0.2s;
  }

  &__bullet {
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &__chevron {
    display: none;
    width: 4px;
    height: 8px;
    border-top: 2px solid vars.$white;
    border-right: 2px solid vars.$white;
    transform: rotate(45deg);
    opacity: 0.4;
  }
}

@media (max-width: 767px) {
  .planets-nav {
    &__toggle {
      display: block;
    }

    &__list {
      display: none;
      position: fixed;
      top: 68px;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100vh - 68px);
      z-index: 100;
      padding: 24px;
      flex-direction: column;
      gap: 0;
      background-color: vars.$dark-blue;

      &.is-open {
        display: flex;
      }
    }

    &__item {
      width: 100%;
      border-bottom: 1px solid rgba(vars.$white, 0.1);
      padding: 20px 0;

      &:last-child {
        border-bottom: none;
      }

      &::before {
        display: none !important;
      }
    }

    &__link {
      width: 100%;
      justify-content: space-between;
      font-size: 15px;
      letter-spacing: 1.3px;
    }

    &__left-content {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    &__bullet {
      display: block;
    }

    &__chevron {
      display: block;
    }
  }
}
