$white: #ffffff;
$white-50: rgba(255, 255, 255, 0.5);
$dark-blue: #070724;

$neutral-400: #838391;
$neutral-700: #38384f;

$mercury: #419ebb;
$venus: #eda249;
$earth: #6d2ed5;
$mars: #d14c32;
$jupiter: #d83a34;
$saturn: #cd5120;
$uranus: #1ec1a2;
$neptune: #2d68f0;
