$font-heading: 'Antonio', sans-serif;
$font-body: 'League Spartan', sans-serif;

$antonio-regular: 400;
$antonio-bold: 700;

$spartan-regular: 400;
$spartan-medium: 500;
$spartan-bold: 700;

$logo: 28px;

$heading-1: 80px;
$heading-2: 40px;
$heading-3: 12px;
$heading-4: 11px;

$body: 14px;
