@use '../../styles/tokens' as vars;
@use '../../styles/mixins' as mix;

.button {
  @include mix.flex-center($justify: flex-start);
  width: 350px;
  height: 48px;
  font-size: vars.$heading-3;
  background: transparent;
  border: 1px solid rgba(vars.$white, 0.2);
  color: vars.$white;
  padding: 0px 28px;
  font-family: vars.$font-body;
  letter-spacing: 2.5px;
  cursor: pointer;
  margin-top: 16px;

  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  @include mix.medium {
    font-size: 9px;
    width: 281px;
    height: 40px;
    padding: 0 20px;
  }

  &__number {
    margin-right: 25px;
    color: vars.$white-50;
  }

  &.isActive {
    border-color: transparent;

    &[style*='--planet-color: mercury'] {
      background-color: vars.$mercury;
    }
    &[style*='--planet-color: venus'] {
      background-color: vars.$venus;
    }
    &[style*='--planet-color: earth'] {
      background-color: vars.$earth;
    }
    &[style*='--planet-color: mars'] {
      background-color: vars.$mars;
    }
    &[style*='--planet-color: jupiter'] {
      background-color: vars.$jupiter;
    }
    &[style*='--planet-color: saturn'] {
      background-color: vars.$saturn;
    }
    &[style*='--planet-color: uranus'] {
      background-color: vars.$uranus;
    }
    &[style*='--planet-color: neptune'] {
      background-color: vars.$neptune;
    }
  }

  &:hover:not(.isActive) {
    background-color: vars.$neutral-700;
  }
}
