@use '../../styles/mixins' as vars;

.header {
  @include vars.flex-center($justify: space-between);
  padding: 22px 35px 27px;
  border-bottom: 1px solid vars.$neutral-700;

  @include vars.x-large {
    flex-direction: column;
    gap: vars.$gap-lg;
  }

  @include vars.tablet {
    flex-direction: row;
    padding: 20px 25px;
  }
}
