@use '../../styles/tokens' as vars;
@use '../../styles/mixins' as mix;

.header {
  @include mix.flex-center($justify: space-between);
  padding: 22px 35px 27px;
  border-bottom: 1px solid vars.$neutral-700;

  @include mix.x-large {
    flex-direction: column;
    gap: vars.$gap-lg;
  }

  @include mix.tablet {
    flex-direction: row;
    padding: 20px 25px;
  }
}
