@use '../../styles/variables' as vars;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 35px 27px;
  border-bottom: 1px solid vars.$neutral-700;
}

@media (max-width: vars.$bp-xlarge) {
  .header {
    flex-direction: column;
    gap: vars.$gap-lg;
  }
}

@media (max-width: vars.$bp-tablet) {
  .header {
    flex-direction: row;
    padding: 20px 25px;
  }
}
