@use '../../styles/tokens' as vars;
@use '../../styles/mixins' as mix;

.stat {
  @include mix.flex-center(column);
  width: 255px;
  height: 128px;
  border: 1px solid rgba(vars.$white, 0.2);
  padding: 20px 23px;
  flex: 1;
  gap: vars.$gap-xs;

  @include mix.x-large {
    width: 100%;
    max-width: 191px;
    height: 88px;
    padding: 16px;
  }

  @include mix.large {
    width: 100%;
    max-width: none;
  }

  @include mix.tablet {
    @include mix.flex-center($direction: row, $justify: space-between);
  }

  &__label {
    font-family: vars.$font-body;
    font-size: vars.$heading-4;
    color: vars.$neutral-400;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    @include mix.x-large {
      font-size: 8px;
    }
  }

  &__value {
    font-family: vars.$font-heading;
    font-size: vars.$heading-2;
    color: vars.$white;
    text-transform: uppercase;
    white-space: nowrap;

    @include mix.x-large {
      font-size: 24px;
    }

    @include mix.tablet {
      font-size: 20px;
    }
  }
}
