@use '../../styles/variables' as vars;

.stat {
  width: 255px;
  height: 128px;
  border: 1px solid rgba(vars.$white, 0.2);
  padding: 20px 23px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  &__label {
    font-family: vars.$font-body;
    font-size: vars.$heading-4;
    color: vars.$neutral-400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  &__value {
    font-family: vars.$font-heading;
    font-size: vars.$heading-2;
    color: vars.$white;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

@media (max-width: vars.$bp-xlarge) {
  .stat {
    width: 100%;
    max-width: 191px;
    height: 88px;
    padding: 16px;

    &__label {
      font-size: 8px;
    }

    &__value {
      font-size: 24px;
    }
  }
}

@media (max-width: vars.$bp-large) {
  .stat {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: vars.$bp-tablet) {
  .stat {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__value {
      font-size: 20px;
    }
  }
}
