@use '../../styles/mixins' as vars;

.stat {
  width: 255px;
  height: 128px;
  border: 1px solid rgba(vars.$white, 0.2);
  padding: 20px 23px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: vars.$gap-xs;

  @include vars.x-large {
    width: 100%;
    max-width: 191px;
    height: 88px;
    padding: 16px;
  }

  @include vars.large {
    width: 100%;
    max-width: none;
  }

  @include vars.tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    font-family: vars.$font-body;
    font-size: vars.$heading-4;
    color: vars.$neutral-400;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    @include vars.x-large {
      font-size: 8px;
    }
  }

  &__value {
    font-family: vars.$font-heading;
    font-size: vars.$heading-2;
    color: vars.$white;
    text-transform: uppercase;
    white-space: nowrap;

    @include vars.x-large {
      font-size: 24px;
    }

    @include vars.tablet {
      font-size: 20px;
    }
  }
}
