* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
}
